<launch>


    <!-- Setup Requirements -->
    <include file="$(find autonomy_master)/launch/localization.launch" />


    <!-- Subcomponents -->
    <include file="$(find occupancy_grid)/launch/occupancy_grid.launch" />
    <include file="$(find local_planner)/launch/local_planner_stand_alone.launch" />
    <include file="$(find spiral)/launch/spiral.launch" />
    <!-- ball tracking -->
    <!-- ball folowing -->
    <include file="$(find ball_following)/launch/ball_autonomy.launch"/>
    <!-- estop -->
    <arg name="EStopConfig" default="$(find xbox_controller)/config/e_stop_params.yaml"/>
    <rosparam command="load" file="$(arg EStopConfig)"/>
    <node name="emergency_stop" pkg="xbox_controller" type="emergency_stop" output="screen"></node>
    <node name="joy_to_twist" pkg="xbox_controller" type="joy_to_twist">
        <remap from="drive_joy" to="/estop/joy"/>
        <remap from="/cmd_vel" to="/estop/cmd_vel"/>

    </node>
    <include file="$(find xbox_controller)/launch/state_select.launch"/>


    <arg name="autonomyConfig" default="$(find autonomy_master)/cfg/autonomy_topic_cfg.yaml"/>
    <rosparam command="load" file="$(arg autonomyConfig)"/>

    <node pkg="autonomy_master" type="autonomy_master_node" name="autonomy_master_node">
    </node>

</launch>