<launch>
  <arg name="config_locks"  default="$(find twist_mux)/config/twist_mux_locks.yaml"/>
  <arg name="config_topics" default="$(find twist_mux)/config/twist_mux_topics.yaml"/>


  <node pkg="twist_mux" type="twist_mux" name="twist_mux" output="screen">
    <remap from="cmd_vel_out" to="/cmd_vel"/>

    <rosparam file="$(arg config_locks)"  command="load"/>
    <rosparam file="$(arg config_topics)" command="load"/>
  </node>
</launch>

