<launch>
	<node name="teleop_node" pkg="xbox_controller" type="state_select" />
	
	<node name="drive_lis_pub" pkg="xbox_controller" type="joy_to_twist" />
	
	<node name="joy_launcher" pkg="joy" type="joy_node">
		<param name="dev" type="string" value="/dev/input/by-id/usb-©Microsoft_Corporation_Controller_15D5CD4-joystick" />
	</node>

	<!-- implement this if you want to test on a turtle bot simulutation, drive 
	will publish to this node and it can move using the controller -->

	<node pkg="turtlesim" name="sim" type="turtlesim_node"/>
</launch>

<!-- use this as the value for the controller parameter if the id isn't working, 
may be js0 or js1 instead of js2, changes randomely:

"_dev:=/dev/input/js2"
-->

