<?xml version="1.0"?>
<!-- Change all instances of "model://husky" to the directory of your husky folder -->
<!-- Remember to configure the simulated sensor errors in /opt/ros/indigo/share/husky_gazebo/urdf/husky.gazebo.xacro -->
<!-- Remember to comment out the entire ekf_localization node in /opt/ros/indigo/share/husky_control/launch/control.launch -->

<launch>
  <arg name="world_name" default="$(find rover_autonomy)/launch/simulation_worlds/simple_world.world"/>

  <arg name="laser_enabled" default="true"/>
  <arg name="kinect_enabled" default="false"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/> <!-- world_name is wrt GAZEBO_RESOURCE_PATH environment variable -->
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
  </include>

</launch>
