<launch>
  <include file="$(find xbox_controller)/launch/state_select.launch"/>
  <node name="twist2roboteq_node" pkg="twist2roboteq" type="twist2roboteq_node"/>
  <include file="$(find roboteq_driver)/launch/example.launch"/>
  <include file="$(find ik_control)/launch/rover_launch.launch"/>
</launch>
